# build dir

build/
bin/*
!bin/.git-keep
lib/
cmake-build-*
docs/html
*.pyc

# IDE files
.vscode
.idea

.cache/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# test crap
test/test
